body {
    scroll-behavior: smooth;
    background-size: 50%;
    background-image: url(assets/ellenbg.png);
    animation: wave 15s ease infinite;
    margin: 0;
}

@keyframes wave {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.konten-utama {
    scroll-behavior: smooth;
    display: flex;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: beige;
    text-align: center;
    text-shadow: 0 0 5px #151d7d;
    justify-content: center;
    flex-direction: column;
}

.konten-utama h1{
    font-size: 60px;
    margin-bottom: 0;
}

.konten-utama h2{
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 10px;
    font-size: 45px;
    font-weight: 400;
}

.deskripsi-singkat{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 50px;
    color: rgb(250, 254, 149);
    text-shadow: 0 0 10px #151d7d;
    margin-left: 25px;
    margin-bottom: 0;
}

.deskripsi{
    justify-content: left;
    margin-left: 25px;
    margin-bottom: 0;
}

.deskripsi p{
    margin-top: -40px;
    font-size: 35px;
    font-weight: 300;
}

.highlight{
    color: white;
    font-weight: 700;
}
#cc_img {
    scroll-behavior: smooth;
    margin-top: 20px;
    padding:5px;
    width: 25em;
    border-radius: 100px 10px 100px;
    box-shadow: 3px 5px 25px #a5abf1;
    animation: shong 1s ease-in ;
}

@keyframes shong {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

.highlight2 {
    color: rgb(237, 137, 137);
    font-weight: 700;
    text-shadow: #000000 0 0 10px;
    font-style: italic;
}

.videoeln {
    scroll-behavior: smooth;
    justify-content: right;
    width: 1000px;
    height: 600px;
    margin-top: 10px;
    border-radius: 100px 20px 100px;
    box-shadow: 0 0 100px #5c67db, 0 0 20px #5c67db;
    animation-name: into;
    animation-duration: 2.5s, 5s;
}

.video{
    scroll-behavior: smooth;
    justify-content: right;
    text-align: right;
    margin-right: 50px;
    margin-left: 25px;
    margin-bottom: 0px;
}

@keyframes into{
    from{
        translate: 150vw 0 ;
        scale: 200% 1;
    }
    to{
        translate: 0 0;
        scale: 1;
    }
}

.video p{
    margin-top: -40px;
    font-size: 35px;
    font-weight: 300;
}

.achievements{
    margin: -500px 0 0 -100px 0;
    text-align: justify;
}

.highlight3{
    color: rgb(234, 152, 152);
    font-style: italic;
    text-shadow: #000000 0 0 10px;
}

.achievements p{
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: -50px;
    font-size: 45px;
    text-shadow: 50px 0 10px #1929d8, 50px 0 100px #bcc2ff;
}

.trophy-gallery {
    display: inline-flex;
    overflow-x: auto;
    box-shadow: 0 0 0.5px #151d7d;
    background-color: rgba(244, 246, 199, 0.772);
    border-radius: 1000px;
    scroll-snap-type: x mandatory;
    margin: 10px 500px 0 300px;
    width: 50%;
    padding-block: 0px;
}

.trophy-gallery::-webkit-scrollbar{
    display: none;
}

.trophy-gallery {
    scrollbar-width: none;
}

.trophy-gallery img{
    flex: 0 0 100%;
    width: 50%;
    height: auto;
    object-fit:contain;
    scroll-snap-align: center;
    animation: auto linear scaleinview;
    animation-timeline: view(x) ;
}

@keyframes scaleinview{
    from,to{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1);
    }
}

#instagram {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#whatsapp {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#email {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.contact {
    margin-top: 100px;
    text-align: center;
}

.contact h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 50px;
    color: rgb(250, 254, 149);
    text-shadow: 0 0 10px #151d7d;
}

.contact p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 35px;
    font-weight: 300;
    color: rgb(250, 254, 149);
    text-shadow: 0 0 10px #151d7d;
}